<div class="jumbotron">
  <!-- <div class="col-md-10"> -->
    <h1>Shielded Depths</h1>
    <p>A task list that self-destructs.</p>
    <p>Tasks that haven't been completed in seven days are deleted.</p>
  <!-- </div> -->
</div>