<div class ="row">
  <% completed.each do |item| %>
    <div class="col-md-10">
      <p>
        <%= item.name %>
        <small class="text-warning">
          will be deleted <%= distance_of_time_in_words_to_now(item.expires_at) %>
            <%= link_to "", user_item_uncomplete_path(current_user,item), class: 'glyphicon glyphicon-arrow-up', method: :put %>
        </small>
      </p>
    </div>
  <% end %>
</div>