<%= form_for [user, user.items.new] do |f| %>
  
  <div class="form-group form-group-lg">
    <%= f.label :'new task' %>
    <%= f.text_field :name, class: 'form-control', placeholder: "Enter task name" %>
  </div>
  <div class="form-group">
    <%= f.submit "Save", class: 'btn btn-success btn-lg' %>   
  </div>

<% end %>