<div class ="row">
  <% user.items.each do |item| %>
    <div class="col-md-12">
      <p>
        <%= item.name %>
        <small class="text-warning">
          <% if item.expires_at? %>
            expires <%= item.expires_at %> 
          <% end %>
        </small>
      </p>
    </div>
  <% end %>
</div>