<div class ="row">
  <% user.items.each do |item| %>
    <div class="col-md-12">
      <p>
        <%= item.name %>
        <small class="text-warning">
            expires <%= item.expires_at %> 
        </small>
        <%= link_to "", user_item_complete_path(user,item), class: 'glyphicon glyphicon-ok', method: :put %>
      </p>
    </div>
  <% end %>
</div>